// SITE VARIABLES //

// background colours //
$primary-color: rgb(16, 158, 99);
$secondary-color: rgb(9, 89, 55);

// text colours //
$text-color: rgba(0, 0, 0, 0.65);
$heading-color: rgba(0, 0, 0, 0.75);

// fonts //
@import url('http://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Open+Sans:400,700');
$font-body: 'Merriweather', serif;
$font-heading: 'Open Sans', sans-serif;

// margins & padding //
$base-margin: 1.6rem;
$base-padding: 1.6rem;
$base-line: 1.8rem;