/***** SITE VARIABLES ******/

/* background colours */
$primary-color:#109E63;
$secondary-color:#095937;

/* text colours */
$text-color:rgba(0,0,0,.68); 
$heading-color:rgba(0,0,0,.75);
$link-color:#333333;

/* fonts */
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Open+Sans:700);

$font-body:'Merriweather', serif;
$font-heading:'Open Sans', sans-serif;