
* {
    max-width: 54rem;
    margin-left: auto !important;
    margin-right: auto !important;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}
body {
    font-family: $font-body;
    color: $text-color;
    font-size: 17px;
}

article {
    width: 80%;
    a {
        color:$text-color !important;
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    color: $heading-color;
}

h1 {
    margin-top: 6rem;
    font-size: 3rem;
    line-height: 1.25;
}

h2 {
    margin-top: 4rem;
    margin-bottom: 0.8rem;
    line-height: 1.35;
}

h6 {
    font-family: $font-body;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;  
}

blockquote {
    padding-left: 2rem;
    font-style: italic;
}

figure blockquote {
    text-align: center;
    padding: 0;
    margin: 4rem 0;
    p {
        font-weight: 700;
        font-size: 1.35rem;
        line-height: 1.6;
    }
    cite  {
        font-style: normal;
    }
}

hr {
    margin: 2.25rem auto;
    height: 1.6rem;
    text-align: center;
    display: block;
    border: 0;
}

hr:before {
    content: "···";
    font-size: 2rem;
    letter-spacing: 1em;
    line-height: 0;
}

.align-center {
    text-align: center;
}

.attention {
    font-size: 1.35rem;
    line-height: 1.5;
}