.article-hero {
  background: url('http://clkz0r.com/ditb/img/large.jpg') top center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 34vw;
  width: 100%;
}

article {
  display: block;
  margin: 0 auto;
  max-width: 50rem;

  p {
    padding: 0 $base-padding;
  }

  a {
    color: $body-color;
    text-decoration: underline;
    transition: color 0.2s ease;
    &:hover {
      color: $primary-color;
    }
  }  

  ul {
    margin: 0 0 1.6rem 1rem;
    li {
      margin-bottom: 0.3rem;
    }
  }

  figure {
    margin: 0;
    overflow: hidden;
    position: relative;

    img {
      padding: 0;
      width: 100%;
    }

    figcaption {
      font-family: $font-heading;
      font-size: 0.85rem;
      font-weight: 400;
      margin: -$base-margin 0 $base-margin;
      text-align: center;
    }  

  }

  .media-container { 
    height: 0; 
    max-width: 100%;
    overflow: hidden; 
    padding-bottom: 56.25%;
    position: relative; 

    iframe, object, embed { 
      height: 100%;
      left: 0;
      position: absolute; 
      top: 0; 
      width: 100%; 
    }

  }

}

.comment {
  background: $light-grey;
  border-bottom: 4px solid;
  border-bottom-color: $primary-color;
  margin: 4rem 0 0;
  padding: 1rem 0 0;

  .custom-disqus {
    margin: 0 auto;
    max-width: 50rem;
    padding: 0 $base-padding;
  }

}

.reveal {
  animation: animationFrames ease 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;

  @keyframes animationFrames {

    0% {
      opacity: 0;
      transform: translate(0px, -25px);
    }
    100% {
      opacity: 1;
      transform: translate(0px, 0px);
    }

  }

}

.cd-top {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: -4rem;
  right: 1rem;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(16, 158, 99, .5) url('https://codyhouse.co/demo/back-to-top/img/cd-top-arrow.svg') no-repeat center 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  
  &:hover {
    background: rgba(16, 158, 99, .8) url('https://codyhouse.co/demo/back-to-top/img/cd-top-arrow.svg') no-repeat center 50%;
  }

  &.cd-is-visible  {
    opacity: 1;
    visibility: visible;
  }

}